@{
    ViewData["Title"] = "Мир Путешествий";
}

<div class="container-section">
    <h2 class="info-sections">О нас</h2>
    <p class="text">
        Добро пожаловать в туристическое агентство "Мир Путешествий" — ваше окно в удивительный мир приключений и 
        незабываемых впечатлений! Мы предлагаем индивидуальные туры и готовые путевки по самым захватывающим 
        направлениям по всему миру. Наша команда экспертов поможет вам подобрать идеальный отдых, исходя из ваших 
        предпочтений и бюджета.Мы заботимся о каждом клиенте, предоставляя высококачественный сервис, начиная с 
        подбора тура и заканчивая поддержкой на каждом этапе вашего путешествия. Нам доверяют, потому что мы создаем 
        отдых, о котором вы мечтали!
    </p>
</div>